{% extends 'layouts/home.html' %}
{% block title %}
    Disciplinas
{% endblock %}

{% block conteudo %}
    <div class="container px-4 py-5 bg bg-light mt-3 rounded">
        <div class="row">
            <div class="col-9">
                <h2>Disciplinas</h2>
            </div>
            <div class="col-3">
                <a class="btn btn-success" href="{% url 'disciplinas:tela-create-disciplina' %}">Adicionar Disciplina</a>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Professor</th>
                <th scope="col">Ações</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for disciplina in lista_disciplinas %}
                <tr>
                    <td>{{ disciplina.nome_disciplina }}</td>
                    <td>{{ disciplina.professor.nome_professor }} {{ disciplina.professor.sobrenome_professor }}</td>
                    <td>
                        <form action="{% url 'disciplinas:tela-editar-disciplina' disciplina.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'disciplinas:deletar-disciplina' disciplina.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}